@model IEnumerable<Facturation_System.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Productos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEnExistencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDeVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEnExistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Item">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Item">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Item">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
